#content {
  width: auto;
  float: left;
  position: relative;
  margin-left: 40px;
}

.form-holder {
  display: flex;
  margin-bottom: 10px;
}

.input-field input {
  width: 150px;
  line-height: 28px;
}

.add, .remove {
  display: block;
  border: 1px solid #ccc;
  padding: 2px 10px;
  margin-left: 10px;
  cursor: pointer;
}

.remove {
  height: 35px;
  font-size:20px
}

.add:hover {
  background: #eee;
}

.remove {
  display: none;
}

.form-holder-append .remove {
  display: block;
}

