#wrapper {
	width: auto;
	float: left;
	position: relative;
	margin-left: 15px;
}

#search_div {
	width: auto;
	position: relative;
	float: left;
	margin-top: 10px;
}

#insurance_div {
	width: auto;
	position: relative;
	float: left;
}

#table_div {
	width: auto;
	position: relative;
	float: left;
	margin-top: 18px;
}

#export {
	width: auto;
	margin-top: 18px;
	margin-left: 50px;
	margin-right: 50px;
}

#user_div {
	width: auto;
	/*position: relative;*/
	float: left;
	margin-top: 10px;
}